Source: finroc-dependencies
Priority: extra
Maintainer: Tobias Föhst <foehst@informatik.uni-kl.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: libs

Package: finroc-dependencies
Section: libs
Architecture: all
Depends: ant, astyle (= 2.03-1), bsh, curl, default-jdk, dialog, g++ | clang-4.3, graphviz, libboost-all-dev, libclang-3.4-dev | doxygen (<= 1.7.6.1-2ubuntu1), libcppunit-dev, libfontchooser-java, libganymed-ssh2-java, libsvgsalamander-java, libterm-readkey-perl, libui-dialog-perl, libxml2-dev, libxml-simple-perl, libxstream-java, libxpp3-java, make, mercurial, pkg-config, uuid-dev
Description: Packages needed to work with Finroc
