Source: finroc-dependencies
Priority: extra
Maintainer: Tobias Föhst <foehst@informatik.uni-kl.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: libs

Package: finroc-dependencies
Section: libs
Architecture: all
Depends: astyle, libterm-readkey-perl, libtime-modules-perl, libui-dialog-perl, libxml-simple-perl, libxstream-java, libxpp3-java, libsvgsalamander-java, libfontchooser-java, libganymed-ssh2-java, bsh
Description: Packages needed to work with Finroc
